azul_logos = #3497db
sombra = 5px 3px 2px rgba(black, .2)

body
	font-family Arial
	font-size 18px
	text-align center

section
	background #d4d4d4
	display inline-block
	height 500px
	margin 0
	padding 0
	width 90%

	h2
		background lighten(black, 20%)
		color white
		font-size 2em
		font-weight bold
		margin .5em 0 0 0
		padding .25em 0
		width 100%
		width 100%

	.fondo_iconos
		background azul_logos
		border-radius 20px
		display inline-block
		height 150px
		margin .25em
		position relative
		top 25px
		width 150px

		.calendario
			box-shadow sombra
			position absolute
			top 15px
			left 15px
			border-radius 20px
			width 120px
			height 120px
			background white

			&:before
				background #c1392b
				border-radius 20px 20px 0 0
				color white
				content ""
				height 30px
				left 0
				position absolute
				top 0
				width 120px

			.dia
				font-size 18px
				color white
				height 30px
				left 0
				margin 0
				position absolute
				text-align center
				top 4px
				width 120px
				z-index 1

			.numero
				font-weight bold
				font-size 70px
				margin 10px 0 0 0
				text-align center
				background transparent
				color black
		.disquete
			background #9994bd
			border-radius 20px
			box-shadow sombra
			height 120px
			left 15px
			position absolute
			top 15px
			width 120px

			.aluminio
				background #ceccbf
				border-radius 0 0 5px 5px
				height 40px
				left 20px
				position absolute
				top 0
				width 80px

				.sombra
					border-left 50px solid transparent
					border-radius 0 0 5px 5px
					border-top 40px solid #ADADA3
					height 0
					position absolute
					right 0
					top 0
					width 0

				.cuadro_sombra
					background #9994bd
					border-radius 2px
					bottom 3px
					box-shadow 1px -3px 1px rgba(black, .3)
					height 30px
					position absolute
					right 5px
					width 20px

			.etiqueta
				background white
				border-radius 5px 5px 0 0
				bottom 0
				height 60px
				left 20px
				position absolute
				width 80px

				.lineas
					left 10px
					margin 0
					padding 0
					position absolute
					top 0
					width 60px

					li
						background #9994bd
						border-radius 2px
						display block
						height 8px
						margin 8px 0 0 0
						padding 0
						text-decoration none
						width 60px

					.corta
						width 50px

		.mensajes
			box-shadow sombra
			position absolute
			top 30px
			left 15px
			height 90px
			width 120px
			background white
			border-radius 50%

			&:after
				border-bottom 35px solid transparent
				border-left 10px solid transparent
				border-right 10px solid transparent
				border-top 35px solid white
				content ""
				height 0
				transform rotate(45deg)
				left 5px
				position absolute
				top 70px
				width 0

		.sobre
			box-shadow sombra
			background white
			border-radius 5px
			height 80px
			left 15px
			position absolute
			top 35px
			width 120px

			.pico_arriba
				position absolute
				z-index 1
				.pico1
					border-bottom 40px solid transparent
					border-left 59px solid transparent
					border-right 59px solid transparent
					border-top 48px solid azul_logos
					left 1px
					position absolute
					top 5px
				.pico2
					border-bottom 40px solid transparent
					border-left 60px solid transparent
					border-right 60px solid transparent
					border-top 45px solid white
					left 0
					position absolute
					top 4px

			.pico_abajo
				.pico1
					border-bottom 55px solid azul_logos
					border-left 60px solid transparent
					border-right 60px solid transparent
					border-top 40px solid transparent
					bottom 4px
					left 0
					position absolute
				.pico2
					border-bottom 50px solid white
					border-left 60px solid transparent
					border-right 60px solid transparent
					border-top 40px solid transparent
					bottom 4px
					left 0
					position absolute