/*------------------------------------*\
    CONTENIDO
\*------------------------------------*/

/*
 * CONTENIDO......................Descripción del contenido de este archivo
 * UTILIDADES.....................Utilidades que tienen los estilos de varios de los elementos
 * BLOQUE PROJECT-INFO............Estilos del header que contiene la información del proyecto
 * SOCIAL LINKS:HOVER.............Hovers de de los iconos sociales del header
 * BLOQUE MOBILE..................Estilso del botón que muestra el código QR
 */


/*------------------------------------*\
    UTILIDADES
\*------------------------------------*/
.U-text
    display block
    font-weight 300
    margin 0
    text-align center

.U-social-icon
    border-radius 50%
    box-shadow z-depth-1
    color secondary-text-color
    display inline-block
    font-family 'Material-icon'
    font-size 1.5rem
    font-weight normal
    height 40px
    line-height 40px
    margin .5em
    padding .2em
    text-align center
    text-decoration none
    transition background ease .25s, box-shadow ease .5s
    vertical-align middle
    width 40px

    &:hover
        box-shadow z-depth-2

@media screen and (max-width 600px)
    .U-social-icon
        font-size 1.2rem
        height 30px
        line-height 30px
        margin .4em
        width 30px


/*------------------------------------*\
    BLOQUE PROJECT-INFO
\*------------------------------------*/
.project-info
    background rgba(white, 90%)
    box-shadow z-depth-1
    display block
    padding .5em 0
    text-align center
    width 100%

    &__title
        color primary-text-color
        font-size 2.5rem
        width auto

    &__divider
        display inline-block

    &__autor
        color secondary-text-color

    &__mail:before
        content '\e606'

    &__facebook:before
        content '\e62d'

    &__twitter:before
        content '\e62e'

    &__github:before
        font-size 35px
        content '\e62c'

     &__download:before
        content '\e604'

@media screen and (max-width 600px)
    .project-info__github:before
        font-size 30px

    .project-info__title
        font-size 2rem
        padding .25em

    .project-info__autor
        margin-bottom .5em


/*------------------------------------*\
    SOCIAL LINKS:HOVER
\*------------------------------------*/
a[href="mailto:jorgeb_28@hotmail.es?Subject=I%20saw%20your%20"]:hover
    background dark-primary-color
    color white

a[href="https://www.facebook.com/JorgeBarron28"]:hover
    background #1e62a9
    color white

a[href="https://twitter.com/JorgeBarron28"]:hover
    background #4eb9f3
    color white

a[href="https://github.com/jorge8168711/Css-Acordeon"]:hover
    background white
    color #333

@media screen and (max-width 600px)
    a[href="mailto:jorgeb_28@hotmail.es?Subject=I%20saw%20your%20"]
        background dark-primary-color
        color white

    a[href="https://www.facebook.com/JorgeBarron28"]
        background #1e62a9
        color white

    a[href="https://twitter.com/JorgeBarron28"]
        background #4eb9f3
        color white

    a[href="https://github.com/jorge8168711/Css-Acordeon"]
        background white
        color #333


/*------------------------------------*\
    BLOQUE MOBILE
\*------------------------------------*/
.mobile
    border-radius 50%
    display block
    height 120px
    margin 0 auto 5em auto
    position relative
    width 120px

    &__label
        background accent-color
        border-radius 50%
        box-shadow z-depth-1
        color white
        cursor pointer
        display block
        font-weight 300
        height 100%
        overflow hidden
        text-align center
        transition all ease .3s
        width 100%

        &:hover
            box-shadow z-depth-2

        &:before
            -moz-osx-font-smoothing  grayscale
            -webkit-font-smoothing  antialiased
            content '\e608'
            display block
            font-family 'Material-icon'
            font-size 3.5rem
            line-height 7.5rem
            transition all ease .3s

        &:hover:before
            font-size 2rem
            line-height 1.9em

        &:hover:after
            content 'Watch on your phone...'
            line-height 1.1em

    &__checkbox
        display none

        &:checked + .mobile__label
            border-radius 50% 0% 0% 50%
            box-shadow z-depth-2

        &:checked + .mobile__label:before
            content '\e626'
            font-size 2rem
            line-height 1.9em

        &:checked + .mobile__label:after
            content 'Read the QR code'

        &:checked + .mobile__label + .mobile__qr-container
            left 140px
            opacity 1
            visibility visible

    &__qr-container
        height auto
        left 30px
        margin 0
        opacity 0
        padding 0
        position absolute
        top 0
        transition all ease .3s
        transition-delay .5s
        visibility hidden
        width 120px
        z-index -100

    &__qr-image
        max-width 100%
        box-shadow z-depth-3

@media screen and (max-width 600px)
    .mobile
        display none
