@import 'normalize'

fondo_azul = #3497db
sombra = 5px 3px 2px rgba(black, .2)

//*********************
//*****UTILIDADES******
//*********************
	.u-Container1
		background fondo_azul
		border-radius 20px
		display inline-block
		height 150px
		margin .25em
		position relative
		text-align center
		width 150px

	.u-Sobre-picoAbajo
		bottom 4px
		left 0
		position absolute

	.u-codigo
		text-align left

//*********************
//*******SOBRE*********
//*********************
	.Sobre
		background white
		border-radius 5px
		box-shadow sombra
		height 80px
		left 15px
		position absolute
		top 35px
		width 120px

	.Sobre-PicoArriba
		position absolute
		z-index 1

	.Sobre-PicoArriba .Sobre-pico1
		border-bottom 40px solid transparent
		border-left 59px solid transparent
		border-right 59px solid transparent
		border-top 48px solid fondo_azul
		left 1px
		position absolute
		top 5px

	.Sobre-PicoArriba .Sobre-pico2
		border-bottom 40px solid transparent
		border-left 60px solid transparent
		border-right 60px solid transparent
		border-top 45px solid white
		left 0
		position absolute
		top 4px

	.Sobre-PicoAbajo .Sobre-pico1
		border-bottom 55px solid fondo_azul
		border-left 60px solid transparent
		border-right 60px solid transparent
		border-top 40px solid transparent

	.Sobre-PicoAbajo .Sobre-pico2
		border-bottom 50px solid white
		border-left 60px solid transparent
		border-right 60px solid transparent
		border-top 40px solid transparent

//*********************
//*****MENSAJES********
//*********************
	.Mensajes
		background white
		border-radius 50%
		box-shadow sombra
		height 90px
		left 15px
		position absolute
		top 30px
		width 120px

		&:after
			border-bottom 35px solid transparent
			border-left 10px solid transparent
			border-right 10px solid transparent
			border-top 35px solid white
			content ""
			height 0
			left 5px
			position absolute
			top 70px
			transform rotate(45deg)
			width 0

	.Calendario
		background white
		border-radius 20px
		box-shadow sombra
		height 120px
		left 15px
		position absolute
		top 15px
		width 120px

		&:before
			background #c1392b
			border-radius 20px 20px 0 0
			color white
			content ""
			height 30px
			left 0
			position absolute
			top 0
			width 120px

//*********************
//****CALENDARIO*******
//*********************
		.Calendario-dia
			color white
			font-size 18px
			height 30px
			left 0
			margin 0
			position absolute
			text-align center
			top 5px
			width 120px
			z-index 1

		.Calendario-numero
			background transparent
			color black
			font-size 70px
			font-weight bold
			margin 30px 0 0 0
			text-align center
			text-shadow 2px 2px 3px rgba(black, .3)

//*********************
//******DISQUETE*******
//*********************
	.Disquete
		background #2C3E50
		border-radius 20px
		box-shadow sombra
		height 120px
		left 15px
		position absolute
		top 15px
		width 120px

	.Disquete-aluminio
		background #ecf0f1
		border-radius 0 0 5px 5px
		height 40px
		left 20px
		position absolute
		top 0
		width 80px

	.Disquete-sombra
		border-left 50px solid transparent
		border-radius 0 0 5px 5px
		border-top 40px solid #bdc3c7
		height 0
		position absolute
		right 0
		top 0
		width 0

	.Disquete-cuadroSombra
		background #2C3E50
		border-radius 2px
		bottom 3px
		box-shadow 1px -1px 2px rgba(black, .6)
		height 30px
		position absolute
		right 5px
		width 20px

	.Disquete-etiqueta
		background white
		border-radius 5px 5px 0 0
		bottom 0
		height 60px
		left 20px
		position absolute
		width 80px

	.Disquete-lineasContainer
		left 10px
		margin 0
		padding 0
		position absolute
		top 0
		width 60px

	.Disquete-lineas
		background #95A5A6
		border-radius 2px
		display block
		height 8px
		margin 8px 0 0 0
		padding 0
		text-decoration none
		width 60px

	.corta
		width 50px

//*********************
//*******CAMARA********
//*********************
	.Camara
		background #ecf0f1
		border-radius 15px
		height 100px
		left 15px
		position absolute
		top 25px
		width 120px

		&:after
			background #ecf0f1
			border-radius 10px 10px 0 0
			content ""
			height 40px
			position absolute
			right 30px
			top -15px
			width 60px
			z-index 0

		&:before
			background #54A7A7
			box-shadow 1px 1px 3px rgba(black, .2)
			border-radius 50%
			content ""
			height 10px
			left 10px
			position absolute
			top 10px
			width 10px

	.Camara-sombra
		background #bdc3c7
		height 50px
		position absolute
		top 25px
		width 120px

	.Camara-lente
		background #ecf0f1
		border-radius 50%
		box-shadow 0 4px 10px rgba(black, .3)
		height 70px
		left 25px
		position absolute
		top 15px
		width 70px
		z-index 1

		&:before
			background #4183D7
			box-shadow  0 -3px 3px rgba(black, .2)
			border-radius 50%
			content ""
			height 50px
			left 10px
			position absolute
			top 10px
			width 50px

//*********************
//*****CALCULADORA******
//*********************

	.Calculadora
		position absolute
		top 15px
		left 15px
		background white
		border-radius 10px
		width 120px
		height 120px

	.Calculadora-cuadros
		position absolute
		top 10px

	.Calculadora-simbolos
		background #DBE1E3
		box-shadow 1px 1px 2px rgba(black, .2)
		border-radius 5px
		color #6C7A89
		display inline-block
		font-family verdana
		font-size 25px
		font-weight bold
		height 35px
		margin 3px 3px
		padding 5px
		width 35px

	.igual
		background #FD8465
		color white
