footer(class='footer')
    p(class='footer__text') Thanks a lot,
        a(class='footer__link U-animated-link' href='http://www.prepros.io' title='Prepros' target='_blank') Prepros
        | and
        a(class='footer__link U-animated-link' href='http://www.platzi.com' title='Platzi' target='_blank') Platzi
