/*------------------------------------*\
    BLOQUE CONTENIDOS
\*------------------------------------*/
.content
    background-color lighten(light-primary-color, 60%) //color en vars_mat_design.styl
    color secondary-text-color
    font-size 1.2rem
    font-weight 300
    height 0
    line-height 1.8rem
    opacity 0
    overflow hidden
    padding 0
    transform translateX(-50%)
    transition transform .7s ease, opacity .7s ease .2s
    visibility hidden
    width 96%

    &__title
        font-weight 400
        margin .5em 0

    &__text
        margin 0

@media screen and (max-width 600px)
    .content
        font-size 1.1rem
        line-height 1.6rem
        transform translateX(0)
        transition all .25s ease
