div(class='content')
    h2(class='content__title') Content #1
    p(class='content__text')
        | Concrete Chiba table chrome sign pre-paranoid nodality dolphin tower modem camera nano-ablative car towards A.I.. Chrome tower warehouse rebar otaku smart-concrete sub-orbital post. Office plastic Tokyo nano-industrial grade lights weathered saturation point vehicle faded silent concrete woman sign. Sprawl concrete saturation point sign augmented reality convenience store Chiba.
