div(class='content')
    h2(class='content__title') Content #4
    p(class='content__text')
        | Man city tank-traps monofilament tiger-team BASE jump long-chain hydrocarbons wristwatch sensory pistol math-nodality nano. A.I. order-flow tattoo render-farm vinyl long-chain hydrocarbons Kowloon augmented reality euro-pop. Alcohol tower sensory apophenia faded A.I. dome smart-fluidity neural network otaku advert nodal point construct.
