@keyframes mobile__qr-image
    100%
        opacity 1
        transform scale(1)
        visibility visible

@keyframes mobile--active
    100%
        opacity 1

@keyframes mobile__label
    100%
        opacity 1
        transform rotate(0)
        visibility visible
