/**------------------------------------------
 **  PARTE DEL COMPONENTE MOBILE__
 **  mobile__label
 **------------------------------------------*/
.mobile
    &--active
        background-color white //color en vars_mat_design.styl
        border-radius 0
        color white
        height 14em
        MaterialShadow(3)
        position absolute
        right 1em
        text-align center
        top 1em
        transition all .15s linear
        width 10em
        z-index 100

        &::before
            background-color accent-color
            bottom 0
            content 'Scan the code'
            display block
            height 10%
            left 0
            position absolute
            width 100%
