section(class='mobile' id='mobile')
	input(id='mobile-checkbox' class='mobile__checkbox' type='checkbox')
	label(class='ripple mobile__label' id='mobileBtn' data-inkColor='rgba(255,255,255, .5)' for='mobile-checkbox' title='see me on your phone') +
	img(class="mobile__qr-image" src='public/images/qrcode.png' alt='qr-code')
