section(class='mobile')
	input(id='mobile-checkbox' class='mobile__checkbox' type='checkbox')
	label(class='mobile__label' for='mobile-checkbox')
	figure(class='mobile__qr-container')
		img(class="mobile__qr-image" src='public/images/qrcode.png' alt='qr-code')
