/**
 **  COMPONENTE MOBILE
 **------------------------------------------*/
.mobile
    background-color accent-color
    border-radius 50%
    color white
    height 3.75em
    MaterialShadow(2)
    overflow hidden
    position absolute
    right 1.875em
    text-align center
    top -1.875em
    transition all .3s linear
    width 3.75em
    z-index 1

    &:hover
        background-color lighten(accent-color, 15%)
        MaterialShadow(3)

    &__checkbox
        display none

    &__label
        cursor pointer
        display inline-block
        font-size 1.75rem
        font-weight 300
        height 100%
        line-height 60px
        text-align center
        transform rotate(-90deg)
        transition all .3s linear .4s
        width 100%

        /.mobile__checkbox:checked + .mobile__label
            color rgba(255,255,255,0)
            cursor auto
            transform rotate(0)

    &__qr-image
        bottom 14%
        left 0
        opacity 0
        position absolute
        transform scale(.5)
        visibility hidden
        width 100%
        z-index 50

        /.mobile__checkbox:checked + .mobile__label + .mobile__qr-image
            animation mobile__qr-image .2s linear 1.2s 1 normal forwards

@media screen and (max-width 600px)
    .mobile
    .mobile--active
        display none
