section(class='mobile')
	input(id='mobile-checkbox' class='mobile__checkbox' type='checkbox')
	label(class='mobile__label' id='mobile' for='mobile-checkbox') +
	img(class="mobile__qr-image" src='public/images/qrcode.png' alt='qr-code')
