/*------------------------------------*\
    BLOQUE MOBILE
\*------------------------------------*/
.mobile
    border-radius 50%
    display block
    height 120px
    margin 9em auto 4.5em
    position relative
    width 120px

    &__checkbox
        display none

    &__label
        background-color accent-color //color en vars_mat_design.styl
        border-radius 50%
        box-shadow z-depth-1 //sombra en vars_mat_design.styl
        color white
        cursor pointer
        display block
        font-weight 300
        height 100%
        overflow hidden
        text-align center
        transition all .5s ease
        width 100%

    &__qr-image
        box-shadow z-depth-2 //sombra en vars_mat_design.styl-depth-3
        max-width 100%
        opacity 0
        transition all .5s ease-in-out .3s
        visibility hidden

    /.mobile__checkbox:checked + .mobile__label + .mobile__qr-container > .mobile__qr-image
        opacity 1
        visibility visible

@media screen and (max-width 600px)
    .mobile
        display none
