/**
 **  IMPORTS NORMALIZE & VARIABLES
 **------------------------------------------*/
@import '../tools/material-resources'
@import '../tools/normalize-v3.0.3-ROBOTO'

/**
 **  ELEMENTOS SIN CLASE
 **------------------------------------------*/
button
    -webkit-appearance none
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    border none
    outline none
    touch-action none

img
    height auto
    max-width 100%
/**
 **  IMPORTS DE COMPONENTES
 **------------------------------------------*/
@import '../tools/utilidades'
@import '../header/header'
@import '../acordeon/acordeon'
@import '../posts/posts'
@import '../mobile/mobile-primary'
@import '../footer/footer.styl'
