/**
 **  IMPORTS NORMALIZE & VARIABLES
 **------------------------------------------*/
@import '../tools/material-resources'
@import '../tools/normalize-v3.0.3-ROBOTO'

/**
 **  ELEMENTOS SIN CLASE
 **------------------------------------------*/
button
    -webkit-appearance none
    border none
    outline none

/*
 **  IMPORTS DE COMPONENTES
 **------------------------------------------*/
@import '../tools/utilidades'
@import '../header/header'
@import '../acordeon/acordeon'
@import '../contents/contents'
@import '../mobile/mobile-primary'
@import '../footer/footer.styl'
