<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Flat icons creados con solo CSS3" />
    <meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1" />
    <title>Pure CSS Icons</title>
    <link rel="stylesheet" href="../static/css/PureCss.css" />
    <link rel="stylesheet" href="../static/css/docco.css" />
    <script src="../static/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript" src="../static/js/prefixfree.min.js"></script>
</head>

<body class="PureCssBody">

	<pre>
		<code class="u-codigo hljs applescript">
			&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"sobre"</span>&gt;
				&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"pico_arriba"</span>&gt;
					&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"pico1"</span>&gt;&lt;/<span class="hljs-keyword">div</span>&gt;
					&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"pico2"</span>&gt;&lt;/<span class="hljs-keyword">div</span>&gt;
				&lt;/<span class="hljs-keyword">div</span>&gt;

				&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"pico_abajo"</span>&gt;
					&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"pico1"</span>&gt;&lt;/<span class="hljs-keyword">div</span>&gt;
					&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"pico2"</span>&gt;&lt;/<span class="hljs-keyword">div</span>&gt;
				&lt;/<span class="hljs-keyword">div</span>&gt;
			&lt;/<span class="hljs-keyword">div</span>&gt;
		</code>
	</pre>

	<div class="u-Container1">
		<div class="Sobre">
			<div class="Sobre-PicoArriba">
				<div class="Sobre-pico1"></div>
				<div class="Sobre-pico2"></div>
			</div>

			<div class="Sobre-PicoAbajo">
				<div class="Sobre-pico1 u-Sobre-picoAbajo"></div>
				<div class="Sobre-pico2 u-Sobre-picoAbajo"></div>
			</div>
		</div>
	</div>

	<div class="u-Container1">
		<div class="Mensajes"></div>
	</div>

	<div class="u-Container1">
		<div class="Calendario">
			<p class="Calendario-dia">Thursday</p>
			<h2 class="Calendario-numero">28</h2>
		</div>
	</div>

	<div class="u-Container1">
		<div class="Disquete">
			<div class="Disquete-aluminio">
				<div class="Disquete-sombra"></div>
				<div class="Disquete-cuadroSombra"></div>
			</div>
			<div class="Disquete-etiqueta">
				<ul class="Disquete-lineasContainer">
					<li class="Disquete-lineas"></li>
					<li class="Disquete-lineas"></li>
					<li class="Disquete-lineas corta"></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="u-Container1">
		<div class="Camara">
			<div class="Camara-sombra"></div>
			<div class="Camara-lente"></div>
		</div>
	</div>

	<div class="u-Container1">
		<div class="Calculadora">
			<div class="Calculadora-cuadros">
				<p class="Calculadora-simbolos">-</p>
				<p class="Calculadora-simbolos">+</p>
				<p class="Calculadora-simbolos">x</p>
				<p class="Calculadora-simbolos igual">=</p>
			</div>
		</div>
	</div>
</body>

</html>
