.U-wrapper
    overflow hidden
    background-color lighten(light-primary-color, 90%)
    box-shadow z-depth-2 //sombra en variables.styl
    margin 5em auto
    width 600px

@media screen and (max-width 600px)
    .U-wrapper
        width 90%

.U-header-text
    display block
    margin 0
    text-align right
