/**------------------------------------------
 **  COMPONENTE HEADER
 **------------------------------------------*/
.header
    background dark-primary-color //color en variables.styl
    box-shadow z-depth-1 //sombra en variables.styl
    padding .75em 0
    position relative
    width 100%

    &__info
        box-sizing border-box
        display block
        margin 0
        padding .5em .75em
        position relative
        width 220px

        &::after
            border-right 5px solid accent-color //color en variables.styl
            content ''
            display block
            height 90%
            position absolute
            right 0
            top 5%

    &__title
        color rgba(white, .9)
        font-size 1.8rem
        font-weight 300

    &__autor
        color light-primary-color //color en variables.styl
        font-size 1rem
        font-weight 300
        margin 0

@media screen and (max-width 630px)
    .header
        &__title
            font-size 1.4rem

        &__info
            width 175px

@media screen and (max-width 500px)
    .header
        height 120px

        &__info
            height 115px
            width 50%

        &__title
            padding 0

        &__link
            font-size 1rem

/**------------------------------------------
 **  COMPONENTE NAV
 **------------------------------------------*/
.nav
    display block
    left 230px
    position absolute
    top 35%

    &__link
        border-radius .125em
        color darken(light-primary-color, 20%) //color en variables.styl
        display inline-block
        font-size 1.1rem
        font-weight normal
        height 1.2em
        line-height 1.2em
        margin 0 .5em
        padding .5em
        text-align center
        text-decoration none
        transition all .3s ease
        width auto

        &:hover
            background-color accent-color //color en variables.styl
            box-shadow z-depth-1 //sombra en variables.styl
            color rgba(255,255,255,.8)

@media screen and (max-width 630px)
    .nav
        left 185px

        &__link
            font-size 1rem
            margin 0 .25em
            padding .25em

@media screen and (max-width 500px)
    .nav
        left 50%
        top 13%
        width 45%

        &__link
            display block
            font-size 1rem
            margin 0 .2em
            padding .2em .2em .2em 10%
            text-align left
            text-decoration underline
