header(class='info')
    h1(class='info__title') Pure CSS Acordeon
    
    h2(class='info__autor')
        span(class='info__by') By
        | Jorge Eduardo
    
    a(class='info__social-icon info__social-icon--mail' href='mailto:jorgeb_28@hotmail.es?Subject=I%20saw%20your%20' target='_top')
    a(class='info__social-icon info__social-icon--facebook' href='https://www.facebook.com/JorgeBarron28' target='_blank')
    a(class='info__social-icon info__social-icon--twitter' href='https://twitter.com/JorgeBarron28' target='_blank')
    a(class='info__social-icon info__social-icon--github' href='https://github.com/jorge8168711/Css-Acordeon' target='_blank')
    a(class='info__social-icon info__social-icon--download' href='https://github.com/jorge8168711/Css-Acordeon/archive/master.zip')
