/**
 **  COMPONENTE HEADER
 **------------------------------------------*/
.header
    background dark-primary-color
    height 15.625em
    MaterialShadow(1)
    padding 4em 0 0 0
    position relative
    width 100%

    &::before
        background-color darken(dark-primary-color, 10%)
        content ''
        height 1.5em
        left 0
        MaterialShadow(1)
        position absolute
        top 0
        width 100%

    &__info
        box-sizing border-box
        display inline-block
        height 50px
        padding 0 .5em 0 1em
        position relative
        vertical-align top

        &::after
            border-right 1px solid black54
            content ''
            height 100%
            position absolute
            right 0
            top 0

    &__title
        color white2
        MaterialText(headline)

    &__autor
        color black54
        MaterialText(caption)

    &__link
        color white2
        margin-left .25em
        padding .1em .25em
        position relative
        text-decoration none
        z-index 10

@media screen and (max-width 430px)
    .header
        &__info
            display block
            margin-bottom .5em
            width 100%

            &::after
                border none

/**
 **  COMPONENTE NAV
 **------------------------------------------*/
.nav
    display inline-block
    margin-left .5em
    height 50px

    &__btn
        background-color darken(dark-primary-color, 10%)
        border-radius .125em
        color white2//color en material-resources.styl
        display inline-block
        margin 6.8125px .5em 0 .5em
        MaterialShadow(1)
        MaterialText(button)
        padding .55em
        text-align center
        text-decoration none
        transition all .3s ease

        &:hover
            background lighten(dark-primary-color, 5%)
            box-shadow z-depth-2 //sombra en material-resources.styl

@media screen and (max-width 430px)
    .nav
        display block
        text-align center
        width 100%
