header(class='header')
    div(class="header__info")
        h1(class='header__title U-header-text') Material design acordeon
        h2(class='header__autor U-header-text') by Jorge Eduardo
    
    nav(class="nav")
        a(class='nav__link' href='https://github.com/jorge8168711/Css-Acordeon' target='_blank') GitHub
        a(class='nav__link' href='https://twitter.com/JorgeBarron28' target='_blank') Twitter
        a(class='nav__link' href='https://www.facebook.com/JorgeBarron28' target='_blank') Facebook
        a(class='nav__link' href='https://github.com/jorge8168711/Css-Acordeon/archive/master.zip') Download
