header(class='header')
    div(class="header__info")
        h1(class='header__title U-header-text') Material acordeon
        h2(class='header__autor U-header-text') by
            a(class='header__link U-animated-link' href='https://www.twitter.com/JorgeBarron28' title="Jorge Eduardo" target='_blank') Jorge Eduardo

    nav(class="nav")
        a(class='nav__link' href='http://www.github.com/jorge8168711/Css-Acordeon' title='GitHub' target='_blank') GitHub
        a(class='nav__link' href='http://www.github.com/jorge8168711/Css-Acordeon/archive/master.zip' title='Download') Download
        a(class='nav__link' href='http://www.facebook.com/JorgeBarron28' title='Facebook' target='_blank') Facebook
