section(class='U-material-wrapper')
    include ../mobile/mobile.jade
    
    div(class='acordeon')
        //-ITEM 1
        div(class='acordeon-item')
            input(id='input-1' class='acordeon-item__input' type='radio' name='acordeon-input' checked='true')
            div(class='ripple-parent')
                label(class='ripple acordeon-item__label' data-inkColor='rgba(255,255,255, .4)' for='input-1') Title 1

            //- INCLUDE conten1
            include ../posts/post1.jade

        //-ITEM 2
        div(class='acordeon-item')
            input(id='input-2' class='acordeon-item__input' type='radio' name='acordeon-input')
            div(class='ripple-parent')
                label(class='ripple acordeon-item__label' data-inkColor='rgba(255,255,255, .4)' for='input-2') Title 2

            //- INCLUDE conten2
            include ../posts/post2.jade

        //-ITEM 3
        div(class='acordeon-item')
            input(id='input-3' class='acordeon-item__input' type='radio' name='acordeon-input')
            div(class='ripple-parent')
                label(class='ripple acordeon-item__label' data-inkColor='rgba(255,255,255, .4)' for='input-3') Title 3

            //- INCLUDE conten3
            include ../posts/post3.jade

        //-ITEM 4
        div(class='acordeon-item')
            input(id='input-4' class='acordeon-item__input' type='radio' name='acordeon-input')
            div(class='ripple-parent')
                label(class='ripple acordeon-item__label' data-inkColor='rgba(255,255,255, .4)' for='input-4') Title 4

            //- INCLUDE conten4
            include ../posts/post4.jade

        //-ITEM 5
        div(class='acordeon-item')
            input(id='input-5' class='acordeon-item__input' type='radio' name='acordeon-input')
            div(class='ripple-parent')
                label(class='ripple acordeon-item__label' data-inkColor='rgba(255,255,255, .4)' for='input-5') Title 5

            //- INCLUDE conten5
            include ../posts/post5.jade
