/**------------------------------------------
 **  COMPONENTE ACORDEON
 **------------------------------------------*/
.acordeon-item
    background-color lighten(light-primary-color, 90%) //color en variables.styl
    display block

    &__label
        background-color default-primary-color //color en variables.styl
        border-bottom solid 1px rgba(255,255,255,.3)
        box-shadow z-depth-1 //sombra en variables.styl
        color rgba(255,255,255,.9)
        cursor pointer
        display block
        font-size 1rem
        height 2em
        line-height 2em
        padding .5em
        transition all .3s ease
        position relative

        &::after
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            content '\e61f'
            float right
            font-family 'Material-icon'
            font-size 1.5rem
            transition all .5s ease

        &:hover
            border-color rgba(255,255,255,.1)
            background-color rgba(default-primary-color, .9) //color en variables.styl
            z-index 20

    &__input
        display none

    &__input:checked + .acordeon-item__label
        background-color rgba(default-primary-color, .9) //color en variables.styl
        border-left 10px solid accent-color //color en variables.styl
        box-shadow z-depth-1 //sombra en variables.styl
        z-index 10

    &__input:checked + .acordeon-item__label + .content
        height auto
        opacity 1
        padding 2%
        transform scale(1)
        visibility visible

    &__input:checked + .acordeon-item__label:after
        transform rotate(90deg)
