section(class='U-wrapper')
    //-ITEM 1
    div(class='acordeon-item')
        input(id='input-1' class='acordeon-item__input' type='radio' name='acordeon-input' checked='true')
        label(class='acordeon-item__label' for='input-1') Title 1

        //- INCLUDE conten1
        include ../contents/content1.jade


    //-ITEM 2
    div(class='acordeon-item')
        input(id='input-2' class='acordeon-item__input' type='radio' name='acordeon-input')
        label(class='acordeon-item__label' for='input-2') Title 2

        //- INCLUDE conten2
        include ../contents/content2.jade


    //-ITEM 3
    input(id='input-3' class='acordeon-item__input' type='radio' name='acordeon-input')
    label(class='acordeon-item__label' for='input-3') Title 3

    //- INCLUDE conten3
    include ../contents/content3.jade


    //-ITEM 4
    input(id='input-4' class='acordeon-item__input' type='radio' name='acordeon-input')
    label(class='acordeon-item__label' for='input-4') Title 4

    //- INCLUDE conten4
    include ../contents/content4.jade


    //-ITEM 5
    input(id='input-5' class='acordeon-item__input' type='radio' name='acordeon-input')
    label(class='acordeon-item__label' for='input-5') Title 5

    //- INCLUDE conten5
    include ../contents/content5.jade
